            <ul class="list-unstyled">
              <li>
                <a href="https://github.com" target="_blank">
                  GitHub
                </a>
              </li>
              <li>
                <a href="https://developer.android.google.cn/" target="_blank">
                  Android
                </a>
              </li>
              <li>
                <a href="https://linux.die.net/" target="_blank">
                  Linux手册
                </a>
              </li>       
              <li>
                <a href="http://androidxref.com/" target="_blank">
                  AndroidXRef
                </a>
              </li>	
              <li>
                <a href="http://www.aospxref.com/" target="_blank">
                  AOSPXRef
                </a>
              </li>  
            </ul>
