            <ul class="list-unstyled">
              <li>
                <a href="https://github.com" target="_blank">
                  GitHub
                </a>
              </li>
              <li>
                <a href="https://developer.android.com" target="_blank">
                  Android
                </a>
              </li>
              <li>
                <a href="https://linux.die.net/" target="_blank">
                  Linux手册
                </a>
              </li>       
              <li>
                <a href="http://www.ruanyifeng.com/blog/" target="_blank">
                  阮一峰的博客
                </a>
              </li>	
              <li>
                <a href="https://blog.csdn.net/Luoshengyang" target="_blank">
                  老罗的Android之旅
                </a>
              </li>  
            </ul>
